<mat-toolbar class="flex justify-between">
  <h1>Eagle Wear</h1>

  <div class="flex gap-1">
    <ng-container
      [ngTemplateOutlet]="hasLogin ? logoutTemplate : loginTemplate"
    ></ng-container>

    <button mat-icon-button>
      <mat-icon [matBadge]="cartItems">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

<ng-template #loginTemplate>
  <button mat-button (click)="goLogin()">Login</button>
</ng-template>

<ng-template #logoutTemplate>
  <button mat-button (click)="logout()">Logout</button>
</ng-template>
